/* Portfolio Page */

.headerdiv {
    border-width: 10px;
    border-style: solid;
    border-color: salmon;
    background-color: #ff9999;
}

.nametitle {
    font-family:'Merienda', cursive;
    font-size: 30px;
    padding: -20px;
    margin-left: 10px;
    margin-top: -35px;
    margin-bottom: -130px
}

.buttons {
    margin-bottom: -15px;
    margin-top: -100px;
    text-align: right;
   
}
.portfolioTotal {
    border-width: 10px;
    border-style: solid;
    border-color: salmon;
    background-color: #ff9999;
    text-align: center;
    max-width: 500px;
    margin-left: 210px;
    margin-top: -50px;
}
}
.pindents {
    text-indent: 50px;
}

.Portfolio {
    font-size: 50px;
    margin-bottom: -20px;
    margin-top: -50px;
    text-align: center;
}

body {
    font-family: 'Varta', sans-serif;
    background-image: "https://i.pinimg.com/originals/16/c3/7b/16c37b109d1c0d53d4535cfc4af720e1.jpg"; 
    alt: "water color background";
    background-repeat: fixed;
    background-size: 1000px;
}

.redirectcontacts {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: -50px;
}

.redirectAboutMe {
    font-size: 30px;
    margin-bottom: -5px;

}

.portfolioPics {
    margin-top: -50px;
    text-align: center;
    margin-right: 135px;
}

.PortPic1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.PortPic2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.PortPic3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.PortPic4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.PortPic5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* Contact Page */

.headerdiv {
    border-width: 10px;
    border-style: solid;
    border-color: salmon;
    background-color: #ff9999;
}

.nametitle {
    font-family:'Merienda', cursive;
    font-size: 30px;
    padding: -20px;
    margin-left: 10px;
    margin-top: -35px;
    margin-bottom: -130px
}

.buttons {
    margin-bottom: -15px;
    margin-top: -100px;
    text-align: right;
   
}
.portfolioTotal {
    border-width: 10px;
    border-style: solid;
    border-color: salmon;
    background-color: #ff9999;
}
}
.pindents {
    text-indent: 50px;
}

.contactInformation {
    font-size: 50px;
    margin-bottom: -60px;
}

body {
    font-family: 'Varta', sans-serif;
    background-image: "https://i.pinimg.com/originals/16/c3/7b/16c37b109d1c0d53d4535cfc4af720e1.jpg"; 
    alt: "water color background";
    background-repeat: fixed;
    background-size: 1000px;
}

.redirectPortfolio {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: -50px;
    
}

.redirectAboutMe {
    font-size: 30px;
    margin-bottom: -5px;

}

.submit {
    text-align: center;
    size: 50px;
}

/* About Me Page */

.headerdiv {
    border-width: 10px;
    border-style: solid;
    border-color: salmon;
    background-color: #ff9999;
}

.nametitle {
    font-family:'Merienda', cursive;
    font-size: 30px;
    padding: -20px;
    margin-left: 10px;
    margin-top: -35px;
    margin-bottom: -130px
}

.buttons {
    margin-bottom: -15px;
    margin-top: -100px;
    text-align: right;
   
}
.aboutmetotal {
    border-width: 10px;
    border-style: solid;
    border-color: salmon;
    background-color: #ff9999;
}

.pindents {
    text-indent: 50px;
}

.About_Me {
    font-size: 50px;
    margin-bottom: -60px;
}

body {
    font-family: 'Varta', sans-serif;
    background-image: "https://i.pinimg.com/originals/16/c3/7b/16c37b109d1c0d53d4535cfc4af720e1.jpg"; 
    alt: "water color background";
    background-repeat: fixed;
    background-size: 1000px;
}

.redirectcontacts {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: -50px;
}

.redirectportfolio {
    font-size: 30px;
    margin-bottom: -5px;

}
.aboutmetext {
    font-size: larger;
}

/* All */

.container {
    margin-left: auto;
    margin-right: auto;
}